---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import WorldIcon from "../icons/WorldIcon.astro";
---

<footer class="w-full mt-24 flex flex-col justify-center items-center">
    <WorldIcon />
    <h1
        class="font-manrope font-base text-black text-center text-sm xl:text-base"
    >
        Aldo Gutiérrez | {t("footer.rol")}
    </h1>
    <h6
        class="font-manrope font-light text-black text-center text-xs xl:text-sm"
    >
        🖤 {t("footer.made")}
    </h6>
</footer>
